[submodule "application/libs/borealis"]
	path = application/libs/borealis
	url = https://github.com/WerWolv/borealis
[submodule "application/libs/json"]
	path = application/libs/json
	url = https://github.com/nlohmann/json
[submodule "application/libs/lua"]
	path = application/libs/lua
	url = https://github.com/lua/lua
[submodule "application/libs/zipper"]
	path = application/libs/zipper
	url = https://github.com/sebastiandev/zipper
[submodule "https://github.com/WerWolv/libtesla"]
	path = https://github.com/WerWolv/libtesla
	url = overlay/libs/libtesla
[submodule "overlay/libs/libtesla"]
	path = overlay/libs/libtesla
	url = https://github.com/WerWolv/libtesla