[submodule "application/libs/borealis"]
	path = application/libs/borealis
	url = https://github.com/natinusala/borealis
[submodule "application/libs/json"]
	path = application/libs/json
	url = https://github.com/nlohmann/json
[submodule "application/libs/lua"]
	path = application/libs/lua
	url = https://github.com/lua/lua
[submodule "application/libs/zipper"]
	path = application/libs/zipper
	url = https://github.com/sebastiandev/zipper
[submodule "sysmodule/libs/libstratosphere"]
	path = sysmodule/libs/libstratosphere
	url = https://github.com/Atmosphere-NX/libstratosphere
[submodule "sysmodule/libs/lvgl/lvgl"]
	path = sysmodule/libs/lvgl/lvgl
	url = https://github.com/littlevgl/lvgl