application/build/
application/out/
application/romfs/sysmodule/exefs.nsp

sysmodule/build/
sysmodule/out/

companion/node_modules

server/api_endpoint/config.py
server/api_endpoint/__pycache__/

server/api_endpoint/api_endpoint

server/save_provider/save_provider
