[submodule "application/libs/borealis"]
	path = application/libs/borealis
	url = https://github.com/WerWolv/borealis
[submodule "application/libs/json"]
	path = application/libs/json
	url = https://github.com/nlohmann/json
[submodule "application/libs/lua"]
	path = application/libs/lua
	url = https://github.com/lua/lua
[submodule "application/libs/zipper"]
	path = application/libs/zipper
	url = https://github.com/sebastiandev/zipper
[submodule "sysmodule/libs/Atmosphere-libs"]
	path = sysmodule/libs/Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs
[submodule "sysmodule/libs/libtesla"]
	path = sysmodule/libs/libtesla
	url = https://github.com/WerWolv/libtesla
